body{
    background-color: #25274d;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #353753;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: 60%;
    text-align: center;
    
}
.contact-info{
    margin-top:10%;
    color: white;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.contact-info h4{
    font-size: 1.1rem;
    
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    max-width: 60%;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 30%;
}
.contact-form button:focus{
    box-shadow:none;
}

.row {
justify-content: center;

}

.contact-form label {
font-weight: 600;
max-width: 55.666667%;
}
.alert-danger {
    text-align: center;
}
#errorMessages{
    border-radius: 0;
}

.success-text{
    background-color: rgb(160, 212, 81);
    color: rgba(255, 255, 255, 0.952);
    font-weight: bold;
    border:none;
    border-radius: 0;
}


@media (max-width: 768px) {
.col-md-9 {
        border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    max-width: 90%;
}
.col-md-3 {
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.5rem;
        width: 90%;
}
.contact-form button {

width: 40%;
}
.contact-info{
    margin-top:0;
}
}
